body {
    margin: 0;
    font-family: "Source Sans Pro", "Avenir";
}

h1, h2, h3, h4, p {
    font-family: Montserrat, Avenir;
}

header {
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #328392;
    background: url(Images/header.jpg) no-repeat center;
    background-size: cover;
}

#overlayHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 131, 146, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay h1 {
    text-align: center;
    margin: 0;
}

#profilePic {
    width: 145px;
    height: auto;
}

#profilePic img {
    width: 100%;
    height: auto;
}

header h1 {
    margin-top: 0;
    color: white;
}

h2, h3, h4 {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 15px 0;
}

.sectionHeading {
    border-bottom: 2px solid #328392;
    color: #328392;
}

h3, h4 {
    width: 60%;
    color: #5b9ca8;

}

/* About Me Section */

#aboutSection {
    margin: 100px 0px;
}

#aboutContainer {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 50px;
}

#bio {
    width: 60%;
    margin: 0 auto;
}

.details {
    width: 30%;
    height: 150px;
    margin: 0;
    text-align: center;
}

.details figure {
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
   
}

.details figure img {
    width: auto;
    height: 50px;
}

.details p {
    margin-bottom: 0;
    font-size: 0.9em;
    color: #328392;
    font-weight: 600;
}

/* Product Areas & Technologies */

#projectSection {
    background: url(Images/paper.jpg) no-repeat center;
    background-size: cover;
}

.overlay {
    background: rgba(50, 131, 146, .7);
    padding: 50px 0;
}

#productAreas-technologies {
    width: 100%;
    height: auto;
    display: flex;
}

#productAreas-technologies h3 {
    color: white;
}

#productAreas, #technologies {
    color: white;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Bookmark 2 */

#productAreas {
    width: 50%;
}

#productAreas-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#productAreas-images figure {
    width: 30%;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#productAreas-images figure img {
    height: 70px;
    width: auto;
}

#technologies {
    width: 50%;
}

#technologies-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#technologies-images figure {
    width: 20%;
    height: auto;
    margin: 20px;
    display: flex;
    justify-content: center;
}

#technologies-images figure img {
    height: 50px;
    width: auto;
}



/* Projects */

#projectsHeading {
    margin-top: 100px;
}

#projectShowcase h3, #projectShowcase h4 {
    margin-bottom: 0;
    width: 80%;
}

.projectDetails {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.projectImage {
    width: 50%;
    height: auto;
}

.projectImage figure {
    width: 100%;
    height: auto;
    margin: 0;
}

.projectImage figure img {
    width: 100%;
    height: auto;
}

.projectDescription {
    width: 50%;
    height: auto;
    background: white;
    border-right: 5px solid #328392;
    box-sizing: border-box;
}

.projectDescription h4 {
    padding-top: 0;
}

.projectDescription p {
    font-size: 15px;
    line-height: 25px;
    width: 90%;
    margin: auto auto;
}

.projectLogos {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

.projectLogos figure {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.projectLogos figure img {
    width: auto;
    height: 35px;
}

.centerButton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.projectButton {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #328392;
    color: #328392;
    font-weight: bolder;
    transition: all .2s ease-in-out;
    outline: none;
    background-color: white;
    margin: 0 auto;
}

.projectButton:hover {
    transform: scale(1.05, 1.05);
    background-color: #328392;
    color: white;
}

.projectButton:active {
    transform: scale(0.95, 0.95);
}

#smart-brain a {
    margin: 0 10px;
}

hr {
    width: 20%;
    border: 3px solid #328392;
    margin: 50px auto;
}

/* Resume */

#Resume {
    margin: 100px 0px;
    background: url(Images/wood.jpg) no-repeat center;
    background-size: cover;
}

#Resume h2 {
    color: white;
    border-bottom: 2px solid white;
}

#Resume article {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

#mailMe {
    text-align: center;
}

#mailMe p {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 0.9em;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

#mailImage {
    margin: 10px;
    width: 65px;
    height: auto;
    transition: all .2s ease-in-out;
}

#mailImage:hover {
    transform: scale(1.05, 1.05);
}

#mailImage:active {
    transform: scale(0.95, 0.95);
}

#viewResume {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    font-weight: bolder;
    transition: all .2s ease-in-out;
    outline: none;
    background-color: #328392;
}

#viewResume:hover {
    transform: scale(1.05, 1.05);
    background-color: white;
    color: #328392;
}

#viewResume:active {
    transform: scale(0.95, 0.95);
}

#viewResume a {
    text-decoration: none;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo figure {
    width: 100px;
    height: auto;
}

#logo figure img {
    width: 100%;
    height: auto;
}

/* Footer */

footer {
    width: 100%;
    height: 100px;
    background: rgba(50, 131, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

footer figure {
    margin: 0 10px;
    width: 30px;
    height: auto;
    transition: all .2s ease-in-out;
}

footer figure:hover {
    transform: scale(1.05, 1.05);
}

footer figure:active {
    transform: scale(0.95, 0.95);
}

footer figure img {
    width: 100%;
    height: auto;
}

/* Media Queries */

    /* Larger Screens */

@media screen and (min-width: 2000px) {

    h1, h2, h3, h4, p {
        font-size: 30px;
    }
    
    #profilePic {
        width: 300px;
        height: auto;
        margin: 0;
        margin-right: 100px;
    }

    #profilePic img {
        width: 100%;
        height: auto;
    }
    
    header {
        height: 500px;
        font-size: 2.3em;
    }
    
    .sectionHeading {
        width: 70%;
        font-size: 3em;
        border-bottom: 3px solid #328392;
        padding: 30px 0;
    }
    
    #aboutSection {
        margin-bottom: 200px;
    }
    
    #aboutContainer {
        margin-top: 100px;
        margin-bottom: 200px;
    }
    
    .details {
        font-size: 1.8em;
    }
    
    .details figure {
        width: 40%;
        height: auto;
    }
    
    .details figure img {
        width: auto;
        height: 100px;
    }

    #technologies-images figure {
        margin: 30px;
    }

    #technologies-images figure img {
        height: 70px;
    }

    .projectDescription p {
        font-size: 25px;
        line-height: 40px;
    }
    
    #mailMe p {
        font-size: 1.8em;
        padding-bottom: 40px;
        margin-bottom: 45px;
    }
    
    #mailImage {
        width: 150px;
        height: auto;
    }
    
    #viewResume {
        background-color: white;
        width: 300px;
        height: 100px;
        font-size: 1.6em;
        border: 3px solid #328392;
    }
    
    #logo {
        width: 200px;
        height: auto;
        margin-top: 100px;
    }

    #logo img {
        width: 100%;
        height: auto;
    }
    
    footer {
        height: 200px;
    }
    
    footer figure {
        width: 60px;
    }
    
}

/* Ipad Pro Landscape */

@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    #profilePic {
        width: 200px;
        height: auto;
        margin: 0;
        margin-right: 40px;
    }

    #profilePic img {
        width: 100%;
        height: auto;
    }
    
    header {
        height: 500px;
        font-size: 2em;
    }
    
    .sectionHeading {
        width: 80%;
        font-size: 2.5em;
    }
    
    #aboutContainer {
        width: 75%;
    }
    
    .details {
        height: auto;
        font-size: 1.7em;
    }
    
    .details figure {
        width: 40%;
        height: auto;
    }
    
    .details figure img {
        width: auto;
        height: 88.5px;
    }
    
    #instructions {
        width: 90%;
        font-size: 1em;
        margin-bottom: 20px;
        display: none;
        
    }
    
    #instructionsMobile {
        width: 90%;
        font-size: 1em;
        margin-bottom: 20px;
        display: block;
    }
    
    #projectContainer {
        width: 90%;
    }
    
    .project {
        width: 45%;
        height: auto;
    }
    
    .insideDesc {
        font-size: 1.5em;
    }
    
    .insideDesc h3 {
        margin-top: 30px;
    }
    
    #viewResume {
        width: 180px;
        height: 80px;
        background-color: white;
        font-size: 1.3em;
    }
    
    #logo {
        width: 150px;
        height: auto;
        margin-top: 100px;
    }

    #logo img {
        width: 100%;
        height: auto;
    }
    
    footer {
        height: 200px;
    }
    
    footer figure {
        width: 80px;
        margin: 30px;
    }
}

/* Ipads in Landscape View */

@media screen and (max-width: 1050px) {

    #profilePic {
        width: 120px;
        height: auto;
        margin: 0;
        margin-right: 40px;
    }

    #profilePic img {
        width: 100%;
        height: auto;
    }
    
    header {
        height: 300px;
        font-size: 1.1em;
    }
    
    .sectionHeading {
        width: 80%;
        margin-bottom: 30px;
        font-size: 1.6em;
    }
    
    #projectsHeading {
        margin-bottom: 50px;
    }
    
    #aboutContainer {
        width: 70%;
        margin-top: 30px;
    }
    
    #aboutSection {
        margin: 50px 0px;
        margin-bottom: 70px;
        
    }

    #aboutSection p {
        line-height: 25px;
    }
    
    .details {
        font-size: 1.2em;
    }
    
    .details figure {
        width: 80%;
    }
    
    .details figure img {
        width: auto;
        height: 60px;
    }

    #productAreas-technologies {
        text-align: center;
        flex-direction: column;
    }

    #productAreas, #technologies {
        width: 80%;
    }
    
    #projectContainer {
        width: 90%;
    }

    .projectImage {
        width: 80%;
        margin: 0 auto
    }

    .projectDescription {
        width: 100%;
        margin: 30px auto;
        border: none;
        padding-bottom: 20px;
        border-bottom: 3px solid #328392;
    }
    
    #Resume {
        margin: 70px 0;
    }
    
    #viewResume {
        width: 180px;
        height: 50px;
        font-size: 1em;
        background-color: white;
    }
    
    #logo {
        width: 100%;
    }
    
    footer {
        height: 120px;
    }
    
    footer figure {
        width: 60px;
        margin: 15px;
    }
    
}

/* Mobiles in landscape view */


@media screen and (max-width: 823px) { 
    
    header {
        height: 200px;
        font-size: 0.7em;
        background: url(Images/headerMobile.jpg) no-repeat center;
        background-size: cover;
    }
    
    #overlayHeader h1 {
        margin: 0;
    }

    #profilePic {
        width: 80px;
        height: auto;
    }

    #profilePic img {
        width: 100%;
        height: auto;
    }
    
    .sectionHeading {
        font-size: 1.3em;
        margin-bottom: 20px;
    }
    
    #aboutContainer {
        margin-top: 0;
    }
    
    .details {
        font-size: 1em;
        height: 120px;
    }
    
    .details figure {
        width: 30%;
        height: auto;
    }
    
    .details figure img {
        width: auto;
        height: 50px;
    }

    #bio p {
        line-height: 25px;
    }

    #productAreas, #technologies {
        width: 100%;
    }

    #productAreas-technologies h3 {
        margin-bottom: 20px;
    }

    #productAreas figure, #technologies figure {
        width: 20%;
        margin: 20px;
        text-align: center;
        font-size: 12px;
    }
    
    #projectSection {
        background: url(Images/paper_mobile.jpg) no-repeat center;
        background-size: cover;
    }
    
    #projectsHeading {
        margin: 40px auto;
    }

    .projectImage {
        width: 100%;
    }

    .projectDescription {
        width: 100%;
        margin: 30px 0;
        border: none;
        padding-bottom: 20px;
        border-bottom: 3px solid #328392;
    }

    .projectLogos {
        width: 100%;
    }
    
    #Resume {
        margin: 50px 0;
    }
    
    #Resume article {
        margin-top: 40px;
    }
    
    #viewResume {
        width: 150px;
        height: 50px;
        font-size: 0.8em;
        color: white;
        background-color: #328392
    }

    #logo figure {
        width: 15%;
    }
    
    footer {
        height: 100px;
        margin-top: 50px;
    }
    
    footer figure {
        width: 45px;
        margin: 10px;
    }
}

/* Ipads in Portrait View */

@media screen and (max-width: 770px) {
    
    #overlay {
        flex-direction: row;
    }

    #profilePic {
        margin: 0;
        margin-right: 40px;
        width: 100px;
        height: auto;
    }

    #profilePic img {
        width: 100%;
        height: auto;
    }
    
    header {
        font-size: 0.8em;
    }
    
    .sectionHeading {
        width: 80%;
    }
    
    #aboutContainer {
        width: 75%;
    }
    
    #aboutSection {
        margin: 50px 0px;
    }
    
    .details figure {
        width: 90%;
    }

    #bio {
        width: 80%;
    }

    #productAreas-technologies h3 {
        margin-bottom: 50px;
    }

    #tech-mobile {
        margin: 30px auto;
    }
    
    #projectContainer {
        width: 70%;
    }
    
    #projectSection {
        background: url(Images/paper_portrait.jpg) no-repeat center;
        background-size: cover;
    }

    .centerButton button {
        height: 60px;
    }
}

    /* Mobile Phones Portrait */

/* Bookmark */
@media screen and (max-width: 425px) {
    
    header {
        margin-bottom: 20px;
        height: 200px;
        font-size: 0.7em;
        background: url('Images/headerMobile.jpg') no-repeat center;
        background-size: cover;
    }
    
    #overlayHeader {
        flex-direction: column;
        text-align: center;
    }

    #profilePic {
        width: 80px;
        height: auto;
        margin: 0;
        margin-bottom: 10px;
    }

    #profilePic img {
        width: 100%;
        height: auto;
    }
    
    /*  About Me  */
    
    #aboutSection {
        margin: 30px 0px;
    }
    
    #aboutSection h3 {
        margin-bottom: 20px;
    }

    #aboutContainer {
        margin-top: 20px;
        flex-wrap: wrap;
        width: 70%;
    }

    #aboutSection {
        margin-bottom: 50px;
    }

    #bio {
        width: 80%;
    }
    
    .sectionHeading {
        width: 85%;
        margin-bottom: 10px;
        font-size: 1.3em;
    }
    
        /*  Icons  */
    
    .details {
        width: 50%;
        font-size: 0.7em;        
    }
    
    .details:last-child {
        margin: 0 auto;
    }
    
    .details figure {
        width: 100%;
        height: auto;
    }
    
    .details figure img {
        width: auto;
        height: 40px;
    }

    /* Bookmark */
    
    /*  Projects  */
    
    #projects h2 {
        margin-bottom: 25px;
    }

    #projectsHeading {
        margin-top: 50px;
    }
    
    #projectContainer {
        width: 85%;
    }
    
    .project {
        width: 100%;
    }

    .projectLogos {
        width: 100%;
    }

    .projectLogos figure {
        margin: 20px 30px;
    }

    .centerButton {
        margin: 50px;
    }

    .centerButton button {
        height: 50px;
    }



    /* Contact */
    
    #Resume {
        margin: 50px 0;
    }
    
    #Resume article {
        margin-top: 35px;
    }
    
    #viewResume {
        width: 150px;
        color: white;
        background-color: #328392
    }
    
    #logo {
        width: 100%;
    }

    #logo figure {
        width: 20%;
    }
    
    footer {
        height: 150px;
        margin-top: 50px;
    }
    
    footer figure {
        width: 50px;
    }
    
}

@media screen and (max-width: 320px) {

    .centerButton {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .centerButton a {
        width: 80%;
    }

    .centerButton button {
        margin: 10px auto;
        width: 100%;
        height: 60px;
    }
}